python-dotenv
uvicorn
groq
openai
sqlalchemy
pgvector
psycopg[binary]
pypdf
google-generativeai
fastapi  
pydantic 
SQLAlchemy 
alembic
crewai
celery 
redis
fastapi[standard]
crewai_tools
transformers
databricks-sdk
pytesseract
